.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.h2 {
  text-align: center;
  padding: 1.5rem 2rem;
  background-color: #748566;
  color: #fff;
  border-radius: 5rem;
}
