.button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 1rem;
}

.icon {
  margin-right: 0.5rem;
}

.fill {
  background-image: linear-gradient(to right bottom, #f77b41 70%, #fcbb55);
  color: #fff;
  transition: all 0.5s;
}

.fill:hover {
  background-image: linear-gradient(to right bottom, #f76b2a 60%, #fcbb55);
}

@media screen and (max-width: 576px) {
  button {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
  }

  .icon {
    margin-right: 0;
  }
}
