.btn {
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.fill {
  background-image: linear-gradient(to right, #f77b41, #fcbb55);
  color: #fff;
}

.icon {
  margin-right: 0.5rem;
}

.outline {
}
