.form {
  font-size: 1.5rem;
}
.li {
  background-color: #cee6de;
  border-radius: 0.3rem;
  padding: 0.3rem 1rem;
  margin: 0.5rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.li:hover {
  background-color: #429b7d;
  color: #fff;
}

.li > span {
  margin-right: 2rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  /* position: fixed;
  top: 30vh;
  left: 10%; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  z-index: 100;
  overflow: hidden;
  padding: 2rem 4rem;
}

.modal-top {
  flex-direction: row-reverse;
}

.modal-header {
  margin: 2rem 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.05rem;
}

.modal-close {
  padding: 0.7rem 1.4rem;
  margin-left: 0.5rem;
}

.modal-close > i {
  margin-right: 0;
  padding: 0;
}

.ul {
  padding: 0;
  max-height: 15rem;
  overflow: auto;
  /* overflow-y: scroll; */
}

@media screen and (max-width: 576px) {
  .modal {
    width: 90%;
    padding: 2rem 1.5rem;
  }
}
