/* ##fff6eb 
#FC8B56
#EB7E4A
#F77B41
#FC8B56
#FFD38D
#FEC369
#FCBB55*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 90vh;
  background-image: linear-gradient(to right bottom, #edebbe, #cfdab6);
  background-size: cover;
  background-repeat: no-repeat;

  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
